In [ ]:
# Remove after fixing environment. 
%pip install pandas
%pip install numpy
%pip install datetime

In [ ]:
# Remove after fixing environment. 
%conda install pandas
%conda install numpy
%conda install datetime

In [2]:
import pandas as pd

def load_data():
    loans = pd.read_csv("loan_payments.csv", index_col=0)
    return loans

loans = load_data()

print(loans.shape)

(54231, 43)

In [2]:
import numpy as np

In [4]:
pd.get_option("display.width")

80

In [5]:
slice_1 = loans.iloc[0:2, 0:5]
slice_2 = loans.iloc[0:2, 5:11]
slice_3 = loans.iloc[0:2, 11:16]
slice_4 = loans.iloc[0:2, 16:21]
print(slice_1)
print(slice_2)
print(slice_3)
print(slice_4)

         id  member_id  loan_amount  funded_amount  funded_amount_inv
0  38676116   41461848         8000         8000.0             8000.0
1  38656203   41440010        13200        13200.0            13200.0
        term  int_rate  instalment grade sub_grade employment_length
0  36 months      7.49      248.82     A        A4           5 years
1  36 months      6.99      407.52     A        A3           9 years
  home_ownership  annual_inc verification_status issue_date loan_status
0       MORTGAGE     46000.0        Not Verified   Jan-2021     Current
1           RENT     50000.0        Not Verified   Jan-2021     Current
  payment_plan      purpose    dti  delinq_2yrs earliest_credit_line
0            n  credit_card  19.54            2             Oct-1987
1            n  credit_card  24.20            0             Sep-2001

In [6]:
loans.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  object
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  object
 9   sub_grade                    54231 non-null  object
 10  employment_length            52113 non-null  object
 11  home_ownership               54231 non-null  object
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  object
 14  issue_date                   54231 non-null  object
 15  loan_status                  54231 non-null  object
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  object
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  object
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  object
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  object
 38  last_credit_pull_date        54224 non-null  object
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: float64(20), int64(8), object(15)
memory usage: 18.2+ MB

In [7]:
# Calculate the percentage of missing values in each column. 
print(((loans.isnull().mean()).round(3)) * 100)

id                              0.0
member_id                       0.0
loan_amount                     0.0
funded_amount                   5.5
funded_amount_inv               0.0
term                            8.8
int_rate                        9.5
instalment                      0.0
grade                           0.0
sub_grade                       0.0
employment_length               3.9
home_ownership                  0.0
annual_inc                      0.0
verification_status             0.0
issue_date                      0.0
loan_status                     0.0
payment_plan                    0.0
purpose                         0.0
dti                             0.0
delinq_2yrs                     0.0
earliest_credit_line            0.0
inq_last_6mths                  0.0
mths_since_last_delinq         57.2
mths_since_last_record         88.6
open_accounts                   0.0
total_accounts                  0.0
out_prncp                       0.0
out_prncp_inv                   0.0
total_payment                   0.0
total_payment_inv               0.0
total_rec_prncp                 0.0
total_rec_int                   0.0
total_rec_late_fee              0.0
recoveries                      0.0
collection_recovery_fee         0.0
last_payment_date               0.1
last_payment_amount             0.0
next_payment_date              60.1
last_credit_pull_date           0.0
collections_12_mths_ex_med      0.1
mths_since_last_major_derog    86.2
policy_code                     0.0
application_type                0.0
dtype: float64

In [8]:
# Evaluate term series. 
loans["term"].unique()

array(['36 months', nan, '60 months'], dtype=object)

In [9]:
# Function test - split string to remove word 'months'
loans["term_months"] = loans["term"].apply(lambda x: x.split()[0] if type(x) == str else x)
result = loans["term_months"].unique()
print(result)

['36' nan '60']

In [10]:
# Function test - convert from string object to numeric. Must be float, because of NaN entries. 
loans["term_months"].convert_dtypes().dtype
loans["term_months"] = pd.to_numeric(loans["term_months"], errors="ignore")
loans["term_months"].head(7)

0    36.0
1    36.0
2    36.0
3    36.0
4    36.0
5    36.0
6     NaN
Name: term_months, dtype: float64

In [11]:
# Evaluate employment_length series. 
pd.set_option("display.precision", 2)
print(loans["employment_length"].info())
category_percent_emp_len = loans["employment_length"].value_counts()/len(loans["employment_length"].dropna())*100
print(category_percent_emp_len)
print(category_percent_emp_len.sum())

<class 'pandas.core.series.Series'>
Index: 54231 entries, 0 to 54230
Series name: employment_length
Non-Null Count  Dtype
--------------  -----
52113 non-null  object
dtypes: object(1)
memory usage: 847.4+ KB
None
employment_length
10+ years    30.52
2 years       9.72
< 1 year      9.66
3 years       8.81
5 years       7.36
1 year        7.12
4 years       6.68
6 years       5.87
7 years       5.69
8 years       4.87
9 years       3.71
Name: count, dtype: float64
100.0

In [14]:
# Evaluate home_ownership series. 
pd.set_option("display.precision", 3)
print(loans["home_ownership"].info())
category_percent_home_own = loans["home_ownership"].value_counts()/len(loans["home_ownership"].dropna())*100
print(category_percent_home_own)
print(category_percent_home_own.sum())

<class 'pandas.core.series.Series'>
Index: 54231 entries, 0 to 54230
Series name: home_ownership
Non-Null Count  Dtype
--------------  -----
54231 non-null  object
dtypes: object(1)
memory usage: 847.4+ KB
None
home_ownership
MORTGAGE    49.645
RENT        41.476
OWN          8.759
OTHER        0.116
NONE         0.004
Name: count, dtype: float64
100.0

In [15]:
# Evaluate verification series. 
category_percent_verification = loans["verification_status"].value_counts()/len(loans["verification_status"].dropna())*100
print(category_percent_verification)

verification_status
Verified           38.321
Not Verified       32.389
Source Verified    29.290
Name: count, dtype: float64

In [21]:
# Evaluate issue_date series.
print(loans["issue_date"].dtypes)
print(loans["issue_date"].value_counts())

object
issue_date
Dec-2019    7356
Nov-2019    7026
Oct-2019    6738
Sep-2019    6080
Jan-2021    4224
            ...
Aug-2013      35
Sep-2014      34
Sep-2013      25
Jul-2013      21
Jun-2013       2
Name: count, Length: 61, dtype: int64

In [23]:
# Evaluate loan_status series.
print(loans["loan_status"].value_counts())

loan_status
Fully Paid                                             27037
Current                                                19268
Charged Off                                             5571
Does not meet the credit policy. Status:Fully Paid       984
Late (31-120 days)                                       580
Does not meet the credit policy. Status:Charged Off      368
In Grace Period                                          265
Late (16-30 days)                                        106
Default                                                   52
Name: count, dtype: int64

In [24]:
# Evaluate payment_plan series.
print(loans["payment_plan"].value_counts())

payment_plan
n    54230
y        1
Name: count, dtype: int64

In [39]:
# Evaluate purpose series. 
pd.set_option("display.precision", 2)
category_percent_purpose = loans["purpose"].value_counts()/len(loans["purpose"].dropna())*100
print("The loan purpose given by the borrower was: \n Purpose                %")
print(category_percent_purpose)
print(category_percent_purpose.sum().round(2))

The loan purpose given by the borrower was:
 Purpose                %
purpose
debt_consolidation    54.57
credit_card           20.53
other                  6.82
home_improvement       5.93
major_purchase         3.10
small_business         2.42
car                    1.88
medical                1.16
wedding                0.99
moving                 0.84
house                  0.65
vacation               0.59
educational            0.37
renewable_energy       0.15
Name: count, dtype: float64
100.0

In [40]:
# Evaluate earliest_credit_line
print(loans["earliest_credit_line"].dtypes)
print(loans["earliest_credit_line"].value_counts())

object
earliest_credit_line
Oct-1999    434
Oct-2000    420
Nov-1999    410
Nov-1998    408
Nov-2000    405
           ...
Oct-1960      1
Oct-1957      1
Dec-1960      1
May-1960      1
May-1963      1
Name: count, Length: 587, dtype: int64

In [55]:
# Evaluate mths_since_last_delinq.
pd.set_option("display.precision", 3)
print(loans["mths_since_last_delinq"].dtypes)
unique_msld = len(loans["mths_since_last_delinq"].unique())
print(f"The number of unique entries is {unique_msld}.")
category_percent_msld = loans["mths_since_last_delinq"].value_counts()/len(loans["mths_since_last_delinq"].dropna())*100
print(category_percent_msld)

float64
The number of unique entries is 101.
mths_since_last_delinq
9.0      2.049
10.0     2.015
0.0      1.933
11.0     1.890
13.0     1.877
         ...
95.0     0.004
122.0    0.004
110.0    0.004
135.0    0.004
107.0    0.004
Name: count, Length: 100, dtype: float64

In [48]:
# Attempt to convert to timedelta. Complete but end use will determine the best datatype. 
import numpy as np
from datetime import datetime
msld_int = loans["mths_since_last_delinq"].apply(lambda x: int(x) if not pd.isna(x) else pd.NaT).head(5)
print(msld_int.head(5))

days_in_month = 30
msld_timedelta = np.where(loans["mths_since_last_delinq"].notna(), pd.to_timedelta(loans["mths_since_last_delinq"] * days_in_month, unit='D'), pd.NaT)

print("Numpy array first 5:\n", msld_timedelta[0:5])
msld_td_ser = pd.Series(msld_timedelta)
print(f"Pandas series first 5:\n {msld_td_ser.head(5)}")
msld_td_ser.astype('timedelta64[s]').head(5)

0      5
1    NaT
2     69
3     74
4     37
Name: mths_since_last_delinq, dtype: object
Numpy array first 5:
 [12960000000000000 NaT 178848000000000000 191808000000000000
 95904000000000000]
Pandas series first 5:
 0     12960000000000000
1                   NaT
2    178848000000000000
3    191808000000000000
4     95904000000000000
dtype: object

0    150 days 00:00:00
1                  NaT
2   2070 days 00:00:00
3   2220 days 00:00:00
4   1110 days 00:00:00
dtype: timedelta64[s]

In [51]:
# Evaluate mths_since_last_record.
loans["mths_since_last_record"].info()

<class 'pandas.core.series.Series'>
Index: 54231 entries, 0 to 54230
Series name: mths_since_last_record
Non-Null Count  Dtype
--------------  -----
6181 non-null   float64
dtypes: float64(1)
memory usage: 847.4 KB

In [54]:
# Evaluate last_payment_date.
loans["last_payment_date"].head(5)

0    Jan-2022
1    Jan-2022
2    Oct-2021
3    Jun-2021
4    Jan-2022
Name: last_payment_date, dtype: object

In [55]:
# Evaluate last_payment_amount.
loans["last_payment_amount"].head(5)

0      248.82
1      407.52
2    12850.16
3    13899.67
4      456.54
Name: last_payment_amount, dtype: float64

In [56]:
# Evaluate next_payment_date.
loans["last_payment_date"].head(5)

0    Jan-2022
1    Jan-2022
2    Oct-2021
3    Jun-2021
4    Jan-2022
Name: last_payment_date, dtype: object

In [57]:
# Evaluate next_payment_date.
loans["last_credit_pull_date"].head(5)

0    Jan-2022
1    Jan-2022
2    Oct-2021
3    Jun-2021
4    Jan-2022
Name: last_credit_pull_date, dtype: object

In [59]:
# Evaluate collections_12_mths_ex_med
loans["collections_12_mths_ex_med"].value_counts()

collections_12_mths_ex_med
0.0    53971
1.0      193
2.0       14
3.0        1
4.0        1
Name: count, dtype: int64

In [60]:
# Evaluate mths_since_last_major_derog.
loans["mths_since_last_major_derog"].head(10)

0     5.0
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7    43.0
8     NaN
9     NaN
Name: mths_since_last_major_derog, dtype: float64

In [63]:
# Evaluate policy_code
print(loans["policy_code"].head(5))
loans["policy_code"].value_counts()

0    1
1    1
2    1
3    1
4    1
Name: policy_code, dtype: int64

policy_code
1    54231
Name: count, dtype: int64

In [64]:
# Evaluate application_type
print(loans["application_type"].head())
loans["application_type"].value_counts()

0    INDIVIDUAL
1    INDIVIDUAL
2    INDIVIDUAL
3    INDIVIDUAL
4    INDIVIDUAL
Name: application_type, dtype: object

application_type
INDIVIDUAL    54231
Name: count, dtype: int64